html {
	
	scrollbar-arrow-color: #000000;
	scrollbar-face-color: #FFFFFF;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
}

body {
	color: #000000;
	background-color: #FFFFFF;
}

.menu {
	font: #336699;
	width: 40%;
}

.t1 { 
	width: 600px;
	background-color: #336699;
	}

.t2 {
	 width: 300px;
	 border-collapse: collapse;
	 border: 1px #808080 solid;  
	 }

.jobTable{
	border: "1";
	cellspacing: "2";
	font-family: "Meiryo", "CI", "qMmpS Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "lr oSVbN", "Osaka]", Helvetica, Arial, sans-serif;
 	font-size: 12px;
	font-color: "white";
	}

.t4{
	width: 300px;
	}

.td1{
	background-color: #C0C0C0;
	}

.f1{
	color: #FFFFFF;
	}
	
