<?xml version="1.0" encoding="UTF-8"?>
<taglib>
	<jsp-version>2.1</jsp-version>
	<tlib-version>2.1</tlib-version>
	<short-name>roll.tld</short-name>
	<uri>rollCheck</uri>
	<tag>
		<name>rollCheck</name>
		<tag-class>net.kronosjp.tags.RollCheckTag</tag-class>
		<body-content>tagdependent</body-content>
		<attribute>
			<name>jobName</name>
			<required>true</required>
		</attribute>
		<attribute>
			<name>index</name>
			<required>true</required>
		</attribute>
	</tag>
</taglib>