<?xml version="1.0" encoding="UTF-8"?>
<taglib>
	<jsp-version>2.1</jsp-version>
	<tlib-version>2.1</tlib-version>
	<short-name>sustainerSupport.tld</short-name>
	<uri>sustainerSupport</uri>
	<tag>
		<name>suppor</name>
		<tag-class>net.kronosjp.tags.SustainerSupportTag</tag-class>
		<body-content>scriptless</body-content>
		<attribute>
			<name>categoryNames</name>
			<required>true</required>
		</attribute>
	</tag>
</taglib>