<?xml version="1.0" encoding="UTF-8"?>
<taglib>
	<jsp-version>2.1</jsp-version>
	<tlib-version>2.1</tlib-version>
	<short-name>turnUpMaster</short-name>
	<uri>turnUpMaster</uri>
	<tag>
		<name>tum</name>
		<tag-class>net.kronosjp.tags.TurnUpMasterTag</tag-class>
		<body-content>empty</body-content>

		<attribute>
			<name>turnUpKey</name>
			<required>true</required>
		</attribute>

		<attribute>
			<name>bodyKey</name>
			<required>true</required>
		</attribute>


		<attribute>
			<name>tableList</name>
			<required>true</required>
		</attribute>


		<attribute>
			<name>nameValue</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

</taglib>